@media screen and (min-width:850px){
    a {
        text-decoration: none;
    }

    /* 윗부분 */
    .first-top {
        text-align: center;
        height: 28rem;
        background-color: rgb(42 182 212);
    }

    /* 윗부분 - 상단 로고 */
    .wrapper {
        height: 6rem;
        text-align: center;
        margin: 0 auto;
    }

    #logo {
        width: auto;
        height: 3rem;
        margin-top: 2rem;
    }

    /* 윗부분 - 하단 사진 & 문구 */
    .section {
        height: 46rem;
    }

    .message {
        height: 22rem;
        width: 55rem;
        background-color: rgb(42 182 212);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .message .message-left {
        margin-top: 3rem;
        float: right;
    }

    .message .message-right {
        margin-top: 3rem;
        float: left;
    }

    #phone {
        height: 19rem;
        width: auto;
    }

    #title {
        font-size: 45pt;
        color: white;
    }

    #title-2 {
        font-size: 20pt;
        font-weight: bold;
        color: white;
    }

    /* 흰색 아래 부분 */
    .first-bottom {
        height: 15rem;
        background-color: white;
    }

    .bottom {
        height: 15rem;
        width: 40rem;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .bottom .button {
        margin-top: 2.5rem;
        width: 40rem;
        height: 5rem;
        border: 3px solid;
        border-radius: 3rem 3rem;
        border-color: rgb(138 138 138);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button2 {
        margin-top: 2.5rem;
        width: 40rem;
        height: 5rem;
        border: 3px solid;
        border-color: rgb(77 111 169);
        border-radius: 3rem 3rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button #name {
        vertical-align: middle;
        color: black;
        font-size: xx-large;
        font-weight: bold;
        line-height: 5rem;
        padding-right: 5rem;
    }

    .bottom .button2 #name2 {
        vertical-align: middle;
        color: black;
        font-size: xx-large;
        font-weight: bold;
        line-height: 5rem;
        padding-right: 3rem;
    }

    #loginicon {
        height: 3rem;
        width: auto;
        padding-left: 5rem;
    }

    #loginicon2 {
        height: 3rem;
        width: auto;
        padding-left: 3rem;
    }
}

@media screen and (min-width:550px) and (max-width:850px){
    a {
        text-decoration: none;
    }
    html,body {
        max-height:100%;
    }

    .section {
        height: 50rem;
    }

    /* 윗부분 */
    .first-top {
        width: 100%;
        text-align: center;
        height: 34rem;
        background-color: rgb(42 182 212);
    }

    /* 윗부분 - 상단 로고 */
    .wrapper {
        width: 70%;
        height: 4rem;
        text-align: center;
        margin: 0 auto;
    }

    #logo {
        width: 70%;
        height: 3rem;
        margin-top: 1rem;
    }

    /* 윗부분 - 하단 사진 & 문구 */
    .message {
        height: 20rem;
        width: 80%;
        background-color: rgb(42 182 212);
        /* display: flex; */
        /* justify-content: space-between; */
        margin: 0 auto;
    }

    .message .message-right {
        width: 100%;
    }

    #phone {
        height: 16rem;
        width: auto;
    }

    #title {
        font-size: 38pt;
        color: white;
    }

    #title-2 {
        font-size: 18pt;
        font-weight: bold;
        color: white;
    }

    /* 흰색 아래 부분 */
    .first-bottom {
        height: 15rem;
        width: 100%;
        background-color: white;
    }

    .bottom {
        height: 15rem;
        width: 85%;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .bottom .button {
        margin-top: 2.5rem;
        width: 100%;
        height: 5rem;
        border: 3px solid;
        border-radius: 3rem 3rem;
        border-color: rgb(138 138 138);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button2 {
        margin-top: 2.5rem;
        width: 100%;
        height: 5rem;
        border: 3px solid;
        border-color: rgb(77 111 169);
        border-radius: 3rem 3rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button #name {
        vertical-align: middle;
        color: black;
        font-size: 20pt;
        font-weight: bold;
        line-height: 5rem;
        padding-right: 2.5rem;
    }

    .bottom .button2 #name2 {
        vertical-align: middle;
        color: black;
        font-size: 17pt;
        font-weight: bold;
        line-height: 5rem;
        padding-right: 1.5rem;
    }

    #loginicon {
        height: 3rem;
        width: auto;
        padding-left: 2rem;
    }

    #loginicon2 {
        height: 3rem;
        width: auto;
        padding-left: 2rem;
    }
}



@media screen and (min-width:490px) and (max-width:550px) {

    a {
        text-decoration: none;
    }
    html,body {
        max-height:100%;
    }

    .section {
        height: 50rem;
    }

    /* 윗부분 */
    .first-top {
        width: 100%;
        text-align: center;
        height: 33rem;
        background-color: rgb(42 182 212);
    }

    /* 윗부분 - 상단 로고 */
    .wrapper {
        width: 70%;
        height: 4rem;
        text-align: center;
        margin: 0 auto;
    }

    #logo {
        width: 70%;
        height: 2.5rem;
        margin-top: 1rem;
    }

    /* 윗부분 - 하단 사진 & 문구 */
    .message {
        height: 20rem;
        width: 80%;
        background-color: rgb(42 182 212);
        /* display: flex; */
        /* justify-content: space-between; */
        margin: 0 auto;
    }

    .message .message-right {
        width: 100%;
    }

    #phone {
        height: 16.7rem;
        width: auto;
    }

    #title {
        font-size: 35pt;
        color: white;
    }

    #title-2 {
        font-size: 15pt;
        font-weight: bold;
        color: white;
    }

    /* 흰색 아래 부분 */
    .first-bottom {
        height: 15rem;
        width: 100%;
        background-color: white;
    }

    .bottom {
        height: 15rem;
        width: 85%;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .bottom .button {
        margin-top: 2.5rem;
        width: 100%;
        height: 5rem;
        border: 3px solid;
        border-radius: 3rem 3rem;
        border-color: rgb(138 138 138);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button2 {
        margin-top: 2.5rem;
        width: 100%;
        height: 5rem;
        border: 3px solid;
        border-color: rgb(77 111 169);
        border-radius: 3rem 3rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button #name {
        vertical-align: middle;
        color: black;
        font-size: 19pt;
        font-weight: bold;
        line-height: 5rem;
        padding-right: 2rem;
    }

    .bottom .button2 #name2 {
        vertical-align: middle;
        color: black;
        font-size: 16pt;
        font-weight: bold;
        line-height: 5rem;
        padding-right: 1rem;
    }

    #loginicon {
        height: 3rem;
        width: auto;
        padding-left: 1.5rem;
    }

    #loginicon2 {
        height: 3rem;
        width: auto;
        padding-left: 1.5rem;
    }
}

@media screen and (min-width:380px) and (max-width:490px){
    a {
        text-decoration: none;
    }
    html,body {
        max-height:100%;
    }

    .section {
        height: 50rem;
    }

    /* 윗부분 */
    .first-top {
        width: 100%;
        text-align: center;
        height: 26.9rem;
        background-color: rgb(42 182 212);
    }

    /* 윗부분 - 상단 로고 */
    .wrapper {
        width: 70%;
        height: 4rem;
        text-align: center;
        margin: 0 auto;
    }

    #logo {
        width: 70%;
        height: 2rem;
        margin-top: 1rem;
    }

    /* 윗부분 - 하단 사진 & 문구 */
    .message {
        height: 15rem;
        width: 90%;
        background-color: rgb(42 182 212);
        /* display: flex; */
        /* justify-content: space-between; */
        margin: 0 auto;
    }

    .message .message-right {
        width: 100%;
    }

    #phone {
        height: 12rem;
        width: auto;
    }

    #title {
        font-size: 30pt;
        color: white;
    }

    #title-2 {
        font-size: 14pt;
        font-weight: bold;
        color: white;
    }

    /* 흰색 아래 부분 */
    .first-bottom {
        height: 15rem;
        width: 100%;
        background-color: white;
    }

    .bottom {
        height: 15rem;
        width: 85%;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .bottom .button {
        margin-top: 2.5rem;
        width: 100%;
        height: 4rem;
        border: 3px solid;
        border-radius: 3rem 3rem;
        border-color: rgb(138 138 138);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button2 {
        margin-top: 2.5rem;
        width: 100%;
        height: 4rem;
        border: 3px solid;
        border-color: rgb(77 111 169);
        border-radius: 3rem 3rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button #name {
        vertical-align: middle;
        color: black;
        font-size: 14pt;
        font-weight: bold;
        line-height: 4rem;
        padding-right: 2rem;
    }

    .bottom .button2 #name2 {
        vertical-align: middle;
        color: black;
        font-size: 12pt;
        font-weight: bold;
        line-height: 4rem;
        padding-right: 1rem;
    }

    #loginicon {
        height: 2rem;
        width: auto;
        padding-left: 1.5rem;
    }

    #loginicon2 {
        height: 2rem;
        width: auto;
        padding-left: 1.5rem;
    }
}

@media screen and (max-width:380px){
    a {
        text-decoration: none;
    }
    html,body {
        max-height:100%;
    }

    .section {
        height: 50rem;
    }

    /* 윗부분 */
    .first-top {
        width: 100%;
        text-align: center;
        height: 26.9rem;
        background-color: rgb(42 182 212);
    }

    /* 윗부분 - 상단 로고 */
    .wrapper {
        width: 70%;
        height: 4rem;
        text-align: center;
        margin: 0 auto;
    }

    #logo {
        width: 70%;
        height: 1.7rem;
        margin-top: 1rem;
    }

    /* 윗부분 - 하단 사진 & 문구 */
    .message {
        height: 15rem;
        width: 94%;
        background-color: rgb(42 182 212);
        /* display: flex; */
        /* justify-content: space-between; */
        margin: 0 auto;
    }

    .message .message-right {
        width: 100%;
    }

    #phone {
        height: 12rem;
        width: auto;
    }

    #title {
        font-size: 30pt;
        color: white;
    }

    #title-2 {
        font-size: 14pt;
        font-weight: bold;
        color: white;
    }

    /* 흰색 아래 부분 */
    .first-bottom {
        height: 15rem;
        width: 100%;
        background-color: white;
    }

    .bottom {
        height: 15rem;
        width: 90%;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }

    .bottom .button {
        margin-top: 2.5rem;
        width: 100%;
        height: 4rem;
        border: 3px solid;
        border-radius: 3rem 3rem;
        border-color: rgb(138 138 138);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button2 {
        margin-top: 2.5rem;
        width: 100%;
        height: 4rem;
        border: 3px solid;
        border-color: rgb(77 111 169);
        border-radius: 3rem 3rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom .button #name {
        vertical-align: middle;
        color: black;
        font-size: 13pt;
        font-weight: bold;
        line-height: 4rem;
        padding-right: 2rem;
    }

    .bottom .button2 #name2 {
        vertical-align: middle;
        color: black;
        font-size: 11pt;
        font-weight: bold;
        line-height: 4rem;
        padding-right: 1rem;
    }

    #loginicon {
        height: 2rem;
        width: auto;
        padding-left: 1.5rem;
    }

    #loginicon2 {
        height: 2rem;
        width: auto;
        padding-left: 1.5rem;
    }
}